body{
    color: #111;
    text-align: center;
    font-size: 16px;
    font-family: "Arial";
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: #3c2;
    margin: 0;
    padding: 0.5em;
    font-size: 1em;
}


#container{
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #111;
    margin: 0 auto;
    background-color: tomato;
}

#container h1{
    font-size: 20px;
}

#container #post{
    padding: 1em;
}

#title{
    color: #111;
}